@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
}

/* Header */

.header {
    /* padding-top: 46px; */
    background-color: #F1F1F1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
    /* margin-bottom: 47px; */

.logo {
    /* position: absolute; */
    /* top: 35px; */
    /* padding: 0 125px 3px 0; */
    /* padding-left: 3px; */


    /* padding: 0 12px 3px 0; */
    /* font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #000;
}

/* .logo::after {
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
} */

/* Nav */

.nav-list {
    position: absolute;
    display: flex;
    top: 80px;
    column-gap: 50px;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
    padding-left: 115vh;
}

.hr-circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 115px;
    padding: 0 1154px 3px 0;
    padding-left: 2,5px;
    
	/* height: 0; */
	border: none;
	border-width: 0 0 5px;
	border-style: solid;
	/* border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="orange" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat; */
	background-position: 50%;
	/* box-sizing: border-box; */
	color: orange;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

/* Header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    margin-top: 124px;
    max-width: 500px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
}

.header-heading span {
    font-weight: 600;
    font-size: 44px;
}

.header-content p {
    line-height: 2;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:120px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: rgb(255, 255, 255);
}

  /* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
    transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/

/* Service */
.services {
    position:relative;
    padding-left: 50px;
}

.container1 {
    
    padding: 90px 0;
    
}



.services-row {
    
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    flex: 1 1 0;
    min-width: 290px;
}

.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
}

.service-card p {
    line-height: 2;
}

/* Portfolio */

.portfolio {
    padding: 90px 0;
    background-color: #F1F1F1;
}

.portfolio-title {
    margin-bottom: 70px;
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}

.project {
    text-align: center;
}

.project-img {
    margin-bottom: 40px;
}

.project-title {
    font-style: 18px;
}

.project-title a {
    color: #000;
    text-decoration: underline;
}

.contacts {
    padding: 90px 0;
    text-align: center;
}

.container {

}

.contacts-title {
    margin-bottom: 40px;
}

.title-1 {

}

.contacts-content {
    margin: 0 auto 40px;
    min-width: 180px;
    font-size: 18px;
    text-align: center;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}

.btn {
    display: inline-block;
    padding: 7px 10px;
    background-color: #070707;
    border-radius: 30px;

    font-style: 18px;
    color: #fff;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.nav-button {
    display: none;
}

.btn:hover, .btn:focus {
    background-color: #131313;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #000000;
}

.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}

.contacts-footer {
    color: #828282
}